/* kleurenpalet pti #555555 #d7ad01*/
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Courier New', Courier, monospace;
    height: 100%;
    min-height: 100%;
}

header{
    width: 100%;
    height: 80px;
    background-color: #555555;
    position: fixed;
}

header::after{
    content:"";
    display: table;
    clear: both;
}

.wrapper{
    width: 90%;
    margin: 0 auto;
}


.logo{
    height: 80px;
    width: auto;
    line-height: 80px;
    float: left;
}

.logo img{
    height: 60px;
    width: auto;
    vertical-align: middle;
}

nav{
    float: right;
    line-height:80px;
}

nav a{
    text-decoration: none;
    padding: 0 20px;
    color: #d7ad01;
    font-size: 30px;
    display: inline-block;
}

nav a:hover{
    background:#d7ad01;
    color: #555555;
}

.banner{
    background-image: url(/WEBSITE_WEER/static/img/banner_index.jpg);
    background-size:cover;
    background-position: center center;
    top: 90px;
    height: 100vh;
    position: fixed;
    width: 100%;
}

.banner::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: black;
    opacity: .7;
    z-index: -1;
}

.banner h2{
    padding-top: 8%;
    font-size: 80px;
    text-align: center;
    color: #d7ad01;
    opacity: 1;
} 

.content-I{
    width: 100%;
    height: auto;
    position: relative;
    background: #555555;
    color: #d7ad01;
    top: 80vh;
    padding-bottom: 2vh;
}

.tekst-I{
    margin:2vh;
}

.tekst-I ul{
    margin-left: 3vh;
}

.tekst-I h2{
    text-align: center;
}

.tekst-I h3{
    text-align: center;
}