/* kleurenpalet pti #555555 #d6af00*/

/*--HEADER--*/
.header{
    background-color: #555555;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.logo_container{
    height: 60px;
    width: auto;
}

.logo_container img{
    height: 60px;
    width: auto;
    display: block;
}

.h-titel{
    margin-left: 100px;
}

.h-titel a{
    color: #d6af00;
    text-decoration: none;
}

.h-titel h2{
    font-size: 40px;
    font-weight: bold;
}

/*--FOOTER--*/
.footer{
    background-color: #555555;
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.footer h3{
    color: #d6af00;
    font-size: 20px;
    font-weight: bold;
}

.banner_home{
    background-image: url(/WEBSITE_WEER/assets/img/banner.jpg);
    background-size: cover;
    background-position: center;
    top: 80px;
    height: 100vh;
    width: 100%;
    position: fixed;
}

.banner_home:after{
    content: '';
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    background:#130f40;
    opacity: .7;
    z-index: -1;
}

.banner_home h2{
    color: #d6af00;
    font-size: 60px;
    font-weight: bold;
    padding-top: 8%;
}

.content_home{
    position: relative;
    width: 100%;
    height: auto;
    background-color: #555555;
    top: 500px;
}

.content-area h2{
    font-size: large;
    margin: 0;
    padding-top: 30px;
    letter-spacing: 4px;
}